<div class="row", style="height: max-content">
  <h1>Uživatel</h1>
  <div class="col-md-4 mt-3 border h-100">
    <table class="date-table">
      <tr>
        <td>Účet založen</td>
        <td><%= registered_at_time(@user) %></td>
      </tr>
      <tr>
        <td>Poslední přihlášení</td>
        <td><%= last_login_time(@user) %></td>
      </tr>
      <tr>
        <td>Uživatelské jméno</td>
        <td><%= current_user.username %></td>
      </tr>
      <tr>
        <td>Celé jméno</td>
        <td><%= current_user.full_name %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6 mt-3">
    Moje příspěvky
    <%= link_to "Nový příspěvek", new_article_path, method: :get, class: "btn btn-primary" %>
    <% if @user.articles.any? %>
      <% @user.articles.each do |article| %>
        <div>
          <%= link_to "#{article.title}", article_path(article), class: "text-white" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

